# Waveshare ESP32-C6-LCD-1.47 display profile.
CONFIG_WAVESHARE_C6_LCD_1_47=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_waveshare_c6_lcd_1_47.csv"
